{% extends "base.html" %} 
{% block body %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Mindful Diary</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/add">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">Chat</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                {% if request.user.is_authenticated %}
                <p class="my-auto">Welcome, {{request.user.first_name}}
                    <a style="color: inherit;" href="/logout"><i class="fa fa-sign-out"></i></a></p>
                {% else %}
                <a href="/login" class="btn btn-outline-success">Login</a>
                {% endif %}
            </form>
        </div>
    </div>
</nav>
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div style="height: 540px;" class="card">
                <div class="card-header">
                    Chat Room
                </div>
                <div class="card-body" id="chat-messages">
                    <ul id="message-list" style="list-style-type:none; padding-left:5px">
                        {% for conversation in conversations %}
                            {% if conversation.is_chatbot_message %}
                                <li class="chatbot-message">{{ conversation.message }}</li>
                            {% else %}
                                <li class="user-message">{{ conversation.message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer">
                    {% csrf_token %}
                    <input type="text" id="message-input" class="form-control" placeholder="Type your message...">
                    <button onclick="sendMessage()" class="btn btn-primary mt-2">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function sendMessage() {
        var messageInput = document.getElementById('message-input');
        var message = messageInput.value;
    
        // Add logic to send the message to the server (Django view) using AJAX
        $.ajax({
            url: "/send_message/",
            type: "POST",
            data: {
                message: message,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType: "json",
            success: function(response) {
                if (response.status === 'success') {
                    // Display the sent message in the chat
                    var chatMessages = document.getElementById('chat-messages');
                    var messageClass = response.is_chatbot ? 'float-start' : 'float-end';
                    var messageContainer = '<div class="message-container ' + messageClass + '"><p>' + response.message + '</p></div>';
                    chatMessages.insertAdjacentHTML('afterbegin', messageContainer);
                    
                    // Clear the input field after sending the message
                    messageInput.value = '';
                } else {
                    alert('Error sending message.');
                }
            },
            error: function(xhr, status, error) {
                alert('Error sending message: ' + error);
            }
        });
    }
</script>
{% endblock body %}