{% extends "base.html" %} {% block body %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Mindful Diary</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/add">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/chat">Chat</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                {% if request.user.is_authenticated %}
                <p class="my-auto">Welcome, {{request.user.first_name}}
                    <a style="color: inherit;" href="/logout"><i class="fa fa-sign-out"></i></a></p>
                {% else %}
                <a href="/login" class="btn btn-outline-success">Login</a>
                {% endif %}
            </form>
        </div>
    </div>
</nav>
<div class="container my-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for entry in journal_entries %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <div class="delete-button">
                        <a href="#" onclick="confirmDelete({{entry.id}})">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </div>
                    <h5 class="card-title">{{ entry.date|date:"d-m-Y" }}</h5>
                    <p class="card-text">{{ entry.entry_text }}</p>
                </div>
                <div class="card-footer" id="response">
                    <small class="text-muted">Response:</small>
                    {% for feedback in entry.feedback_set.all %}
                    <p>{{ feedback.feedback_text }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    function confirmDelete(entryId) {
        if (confirm("Are you sure you want to delete this entry?")) {
            window.location.href = "{% url 'delete_entry' 0 %}".replace('0', entryId);
        }
    }
</script>
{% endblock body %}
<!-- </div> -->